@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    background-color: #A2DDA7;
    padding: 15px;

}
#h1 {
    color: white;
    align-self: center;
    width: 25%;

}

nav {
    align-self: flex-end;
    width: 75%;
    text-align: right;
}
nav > p > a {
    background-color: #A8C58B;
    text-decoration: none;
    color: white;
    padding: 8px;
    border-radius: 5px;
    margin-right: 15px;
    font-weight: bold;
    box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.274);
}

#seção1 {
    background-color: #86B2B5;
    background-size: 800px 300px;
    position: relative;
    height: 600px;

}
#seção1 > div{
    position: absolute;
    background-color: black;
    margin-top: ;
}
