@charset "UTF-8";
@font-face {
    font-family: 'font-header';
    src: url(../fontes/Make\ the\ Best\ -\ Personal\ Use.otf) format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&display=swap');




* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body, html { 
    background-color: #D6FCFF;

}

a {
    text-decoration: none;
}
ul {
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #A2DDA7;
    color: white;
    font-weight: 900;
}

header > div {
    display: block;
    align-items: center;
    padding: 20px;
    gap: 30px;
}
header img {
    padding-right: 15px;
    max-width: 150px;
    min-width: 50px;
}
header h1 {
    font-family: font-header;
    font-size: 5em;
}
nav {
    padding-top: 20px;
    padding-left: 20px;
}

ul {
   display: flex;
   gap: 35px;
   font-family: 'Roboto', sans-serif;
   font-weight: bold;
   font-size: 16px;
}
ul a{
    padding: 9px;
    font-weight: 900;
    color: white;
}

ul a:hover {
    background-color: #a8c58bbe;
    border-radius: 7px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.137);

}
picture {
   align-self: center;
}

#seção1 {
    margin: auto;
    display: block;
    background-color: #86B2B5;
    margin-top: 30px;
    max-width: 900px;
    min-width: 300px;
    box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.521);
}
#seção1 > div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 15px;
}

#seção1 > div > h2 {
    align-self: center;
    font-size: 19px;
    margin: auto;
    color: #D6FCFF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.507);
    text-align: center;
    line-height: 1.4em;
}
div > img {
    border: 5px solid black;
}
#h2-2 {
    padding-left: 30px;
    padding-right: 45px;
    
}

#cartão {
    background-color: #86B2B5;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
    line-height: 1.5em;
    min-height: 155px;
}


#div1 {
    height: 199.5px;
    text-align: justify;
    padding: 30px 20px;
}
#texto > #div2 {
    position: relative;
    display: flex;
    
}
#div2 > p {
    width: 100%;
    height: 100%;
    text-align: right;
    padding-top: 80px;
    padding-right: 15px;
    padding-bottom: 10px;
}
#div2 > p > a {
    color: black;
    font-weight: bold;
}
#div2 > p > a:hover {
    text-decoration: underline;
}
#cartão > img {
    box-shadow: -6px 4px 14px 4px rgba(0, 0, 0, 0.432);
    min-width: 150px;
    max-height: 339px;
}

